body { font-family: monospace; margin: 0; color: #ffffff; background-color: #1a1a1a; }
a { text-decoration: none; color: inherit; }
a:visited { text-decoration: none; color: inherit; }
a:hover { text-decoration: none; color: inherit; }
ul { padding: 0; }

.center { text-align: center; justify-content: center; align-items: center; }

.container { max-width: 900px; margin: auto; padding: 20px; margin-top: 30px; margin-bottom: 30px; border: 1px dashed #ffffff; } 
.no-border { border: none; }
.no-con-pad { padding: 0; }

#nav-header { max-width: 900px; margin: auto; padding: 0 20px; position: sticky; top: 0; background: #2a2a2a; border: 1px dashed; text-align: left; }
#nav-header li { display: inline; padding: 0 2px; }
#nav-header button { text-decoration: none; }
#nav-header button:hover { text-decoration: none; }

#stats-table { border-collapse: collapse; min-width: 600px; max-width: 900px; margin: auto; }

td, th { text-align: left; padding: 12px; border: 1px dashed #ffffff; }
th { background-color: #2a2a2a; }

@media screen and (max-width: 768px) {
  .footer { margin-bottom: 0; }
  #nav-header { text-align: center; }
  #stats-table { min-width: 100%; }
}